
/*root font-size = 16px
1 rem = 16px*/

.container1 {
    background-color: aqua;
    width: 35rem;
    height: 18.75rem;
    padding: 1.2rem;
    margin: 1.2rem;
    position: relative;
}


.box1 {
    background-color: orange;
    width: 8rem;
    height: 8rem;
    position: absolute;
    bottom: 0rem;
    right: 0rem;

}


.container2 {
    background-color: plum;
    width: 3rem;
    height: 3rem;
    position: fixed;
    top: 0rem;
    right: 0rem;
}

.box {
    width: 2.5rem;
    height: 2.5rem;
    background-color: green;

}

.container3 {
    width: 100vw;
    height: 7.5rem;
    background-color: yellow;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    margin-top: 3.1rem;

}

.numberList{
    list-style:disc;
    margin-left: 1rem;
}

.container4{
    margin-left: 1.25rem;
    margin-top: 1.25rem;
}

.header{
    font-size: 1.5rem;
    margin-bottom: 1.2rem;
}
